{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <!-- This is what's rendered on a POST request -->
            {% if check_result %}
                {% if key_order %}
                    <div class="alert alert-{{ alert1 }}" role="alert">
                        A password associated with the email <b>{{ email }}</b> has been leaked/publicly exposed
                        in the following reported breach(es):
                    </div>
                    <table id="dtBasicExample" class="table table-hover table-striped table-bordered" >
                        <thead>
                            <tr>
                                {% for key in key_order %}
                                    <th>{{ key }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in check_result %}
                            <tr>
                                {% for key in key_order %}
                                    <td>{{ item | get_item:key}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-{{ alert1 }}" role="alert">
                        Your email <b>{{ email }}</b> <br>
                        {{ detail1 }}<br>
                        Details: ({{ code1 }}) {{ text1 }}
                    </div>
                {% endif %}

                {% if breach_keys %}
                    <div class="alert alert-{{ alert2 }}" role="alert">
                        The email <b>{{ email }}</b> has been observed in the following
                        <b>{{ breach_count }}</b> breach(es):
                    </div>
                    <table id="dtBasicExample" class="table table-hover table-striped table-bordered" >
                        <thead>
                            <tr>
                                <th>Breach</th>
                                <th>Title</th>
                                <th>Breach_Date</th>
                                <th>Domain</th>
                                <th>Pwn Count</th>
                                <th>Flags</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in check_breaches %}
                            <tr>
                                <td><img src="{{ item | get_item:'LogoPath'}}" width="100"></td>
                                <td>{{ item | get_item:'Title' }}</td>
                                <td>{{ item | get_item:'BreachDate' }}</td>
                                <td>{{ item | get_item:'Domain' }}</td>
                                <td>{{ item | get_item:'PwnCount' }}</td>
                                <td>{{ item | get_item:'summary' }}</td>
                            <tr>
                            </tr>
                                <td colspan="6">{{ item | get_item:'Description' | safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-{{ alert2 }}" role="alert">
                        Your email <b>{{ email }}</b> <br>
                        {{ detail2 }}<br>
                        Extended details: ({{ code2 }}) {{ text2 }}
                    </div>
                {% endif %}
            {% else %}
                <!-- This is what's rendered on a GET request -->
                <div class="card" style="width: 40rem;">
                  <div class="card-body">
                    <h5 class="card-title">Check Email</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Check if email password has been leaked publicly</h6>
                    <p class="card-text">
                        This check will find out if the email address and its associated password
                        has appeared in previous security breaches (hacks).
                        A finding does <b><u>NOT</u></b> necessarily mean that the email password is exposed.
                        It could mean that a password associated with the email has been exposed.<br>
                        For example, when the email is used as the "user name" to access some Web App.
                        This example is precisely why password reuse is a bad idea.
                    </p>
                  </div>
                </div>
                <p> </p>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-primary">Check Email</button>
                </form>
            {% endif %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{%endblock%}