{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% if check_result %}
                <!-- This is what's rendered on a POST request -->
                <div class="alert alert-danger" role="alert">
                    Your email <b>{{ email }}</b> password has been leaked/publicly exposed in the following reported hacks:
                </div>
                <table id="dtBasicExample" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            {% for key in key_order %}
                            <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in check_result %}
                        <tr>
                            {% for key in key_order %}
                            <td>{{ item | get_item:key}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <!-- This is what's rendered on a GET request -->
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                     <input type="submit" value="Check Email">
                </form>
            {% endif %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{%endblock%}