{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <!-- This is what's rendered on a POST request -->
            <!--<p>check_result is "{ check_result }}"</p>
            <p>key_order is "{ key_order }}"</p>
            <p>data_type is "{ data_type }}"</p>-->
            {% if check_result %}
                {% if key_order %}
                    <div class="alert alert-{{ alert }}" role="alert">
                        Your email <b>{{ email }}</b> password has been leaked/publicly exposed in the
                        following reported breach(es):
                    </div>
                    <table id="dtBasicExample" class="table table-hover table-striped table-bordered" >
                        <thead>
                            <tr>
                                {% for key in key_order %}
                                    <th>{{ key }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in check_result %}
                            <tr>
                                {% for key in key_order %}
                                    <td>{{ item | get_item:key}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-{{ alert }}" role="alert">
                        Your email <b>{{ email }}</b> <br>
                        {{ detail }}<br>
                        Details: ({{ code }}) {{ text }}
                    </div>
                {% endif %}
            {% else %}
                <!-- This is what's rendered on a GET request -->
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                     <input type="submit" value="Check Email">
                </form>
            {% endif %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{%endblock%}