{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4 float-right">
        <div class="card-body float-middle">
            <a class="btn btn-primary" href="check_email/">Check Email</a>    <p></p>
            <a class="btn btn-info" href="#">About Us</a>    <p></p>
            <a class="btn btn-info" href="#">Privacy Policy</a>    <p></p>
        </div>
    </div>
</div>

{% endblock sidebar %}