{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4 float-right">
        <div class="card-body float-middle">
            <div class="list-group">
              <a href="/check_email/" class="list-group-item list-group-item-primary">
                Check Email
              </a>
              <a href="#" class="list-group-item list-group-item-secondary">secondary</a>
              <a href="#" class="list-group-item list-group-item-success">success</a>
              <a href="#" class="list-group-item list-group-item-danger">danger</a>
              <a href="#" class="list-group-item list-group-item-warning">warning</a>
              <a href="#" class="list-group-item list-group-item-light">light</a>
              <a href="/dataclasses" class="list-group-item list-group-item-dark">HIBP Data Classes</a>
              <a href="/about" class="list-group-item list-group-item-info">About</a>
              <a href="/policy" class="list-group-item list-group-item-info">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>

{% endblock sidebar %}